
  body{
    background-color:#e0ffff;
  }
  hr{
    background-color:white;
    border-style:none;
    border-top-style:dotted;
    border-color:black;
    border-width:5px;
    height:0px;
    width:5%;
  }
  h1{
    color: #66BFBF;
  }
  h3{
    color: #66BFBF;
    font-style: italic;
  }
  .girl{
    height :150px;
    width : 150px;
  }
